/* Style */

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header h1 {
  background-color: #ff6c22;
  font-weight: 100;
  padding: 15px;
  color: #fff;
}

header h1 i {
  font-size: 26px;
}

header h4 {
  margin-top: 32px;
  font-size: 23px;
}

header p {
  margin-top: -15px;
  line-height: 27px;
}

.inputSection {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 20px;
}

#luasSquareSide {
  margin-top: 10px;
  outline: none;
  border-radius: 8px;
  padding: 8px;
}

#kelilingSquareSide {
  margin-top: 10px;
  outline: none;
  border-radius: 8px;
  padding: 8px;
}

#luasSquareSide:focus {
  border: solid #3a4d39;
}

#kelilingSquareSide:focus {
  border: solid #3a4d39;
}

.buttonLuas {
  margin-top: 15px;
}

.buttonKeliling {
  margin-top: 15px;
}

.btn-hitung {
  background-color: #2b3499;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.btn-reset {
  background-color: #ff6c22;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.btn-hitung:hover {
  background-color: #6771e6;
}

.btn-hitung:active {
  transform: translateY(2px);
}

.btn-reset:hover {
  background-color: #ff935e;
}

.btn-reset:active {
  transform: translateY(2px);
}

#luas-card p {
  line-height: 25px;
}

#keliling-card p {
  line-height: 25px;
}

#luas-card h3 {
  background-color: #ff6c22;
  padding: 15px;
  color: #fff;
}

#keliling-card h3 {
  background-color: #ff6c22;
  padding: 15px;
  color: #fff;
}

#card {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 6px #77777736, 0 2px 6px #77777736;
  border-radius: 10px;
}
